@import url(https://fonts.googleapis.com/css?family=Literata&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

/* Main setting start*/
:root{
    --main-color: #219ebc;
    --black: #13131a;
    --bg: #010103;
    --altbg: #e5e5e5;
    --border: .1rem solid rgba(255,255,255,.3);
    --tickGreen: #43e97b;
  }
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }

  body{
    
    background-image: url('images/background.png');
	  background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  }

  html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  
  }
  html::-webkit-scrollbar{
    width: .3rem;
  }
  
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
  }
/* Main setting end */

/* Nav Bar Start */
nav {
	background-image: url('images/BigMaclogo.png');
	background-repeat: no-repeat;
	text-align: center;
	font-style: italic;
	margin-top: 30px;
	height: 55px;
	padding-bottom: 5px;
}
  
nav a {
	text-decoration: none;
	color: white ;
}

nav a:hover { 
	color: #00B1FF; 
}

nav a.active {
	border-bottom: 2px solid white;
    padding-bottom: 3px; 
	
  }

  #logbutton{
    background-color: black;
    color: white;
    position:absolute ;
    padding: 12px 24px;
    right: 30;
    top: 30;
    border-radius: 100px;
    margin-left: 430px;
  }
  
  #logbutton:hover{
      background-color: rgba(169, 0, 0, 0.8);
    }
/* Nav Bar End */


  .table{
    width: 100%;
  }

  .table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(240,240,240);
    
  }

  .table-header p{
    color: black;
  }

  button {
    border-radius: .4rem;
    cursor: pointer;
    padding: 10px;
    cursor: pointer;
    color: #fff;
  }

  td button:nth-child(1){
    background-color: var(--main-color);
  }
  td button:nth-child(2){
    background-color: #d90429;
  }
  
  .add-new{
    padding: 10px 20px;
    color: #fff;
    background-color: var(--main-color);
  }

  input{
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius: .8rem;
    border: 1px solid var(--main-color);
  }

  .table-section{
    height: 650px;
    overflow: auto;
  }

  table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;

  }
  thead{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  thead th{
    top: 0;
    /* background-color: var(--bg); */
    color: #fff;
    font-size: 1rem;
  }

  th, td{
    border-bottom:1px solid #219ebc;
    padding: 10px 20px;
    /* word-break: break-all; */
    text-align: center;
  }

  td img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: .8rem;
  }

  tr:hover td{
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--altbg);
  }

  ::placeholder{
    color: var(--main-color);
  }