@import url(https://fonts.googleapis.com/css?family=Literata&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');



/* Main setting start*/
:root{
  --main-color: #219ebc;
  --hover: rgba(0,1,169,0.8);
  --black: #13131a;
  --bg: #010103;
  --border: .1rem solid rgba(255,255,255,.3);
}
*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 100%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;

}

html::-webkit-scrollbar{
  width: .3rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
}

#bodyhome {
  background-image: url('images/background.png');
  color: #FFF;
  font-family: Verdana, Arial, sans-serif;
background-repeat: no-repeat;
  background-size: cover;
}

#bodyhome header {
color: #00B1FF;
padding-left: 30px;
padding-top: 10px;
text-align: center;
}

#bodyhome h2 {
color: #00B1FF;
}

/* Main setting end */

  h1{
    color: white;
    text-align: center;
    font-family: Literata;
  }
  h3{
    color: white;
    text-align:center;
    font-size: 16px;
    font-family: Literata;
    font-weight:lighter;
  }

  /* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  } */

  li, a ,button{
    font-family: Literata;
    font-weight:500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }

  header{
    display: flex;
    
    align-items: center;
    padding: 30px 10%;
  }

  .logo{
    cursor: pointer;
  }

  .nav_links {
    list-style: none;
  }

  .nav_links li{
    display: inline-block;
    padding: 0px 20px;
  }

  .nav_links li a{
    transition: all 0.3s ease 0s;
  }

  .nav_links li a:hover{
    color: #0088a9;
  }

  .BtnLogin{
    align-content: space-between;
  }
  

  /* button {
    
    padding :9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius : 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;

  } */

  #submitbutton{
    background-color: var(--main-color);
    color: white;
    position:absolute ;
    margin-right: 50%;
    border-radius: 100px;
  }
  #submitbutton:hover{
    background-color: rgba(0,1,169,0.8);
  }


  .item{
    display: block;
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: auto;
    
  }

  .events .row{
    margin-top: 50px;
  }

  h4{
    font-size: 3vmin;
    color: #edf0f1;
    margin: 50px ;
    text-align: center;
  }

  p{
    color: #edf0f1;
    text-align: center;
    margin-bottom: 10px;
  }

  span{
    color: #edf0f1;
    text-align: center;
  }

  .formed{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/v28_270.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding-bottom: 20px;
  }

  .formed h1{
    padding-bottom: 10px;
    font-size: 3rem;
    padding-top: 30px;
  }

  .form-container{
    display: grid;

    grid-template-columns: 40% 60%;
    background: var(--bg);
    margin:10px;
  }

  .form-img{
    background:url("./images/v28_88.png") center/ cover no-repeat;
    background-size: cover;
    width: 600px;
  }

  .form-content{
    background-color: var(--bg);
    padding: 20px 0;
    margin: auto;
  }

  .form-content  h3{
    color: #fff;
    text-align: center;
    padding: 25px 0 10px 0;
    font-size: 26px;
  }

  form{
    display: grid;
    grid-row-gap: 20px;
    margin-left: 20px;
  }

  form p{
    font-weight: 400;
    height: fit-content;
  }

  .form-field {
    display: flex;
    justify-content: space-between;
  }

  input, select{
    pad: 10px 15px;

  }

  .form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  

  form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    border: none;
    outline: none;
  }
  
  .book-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-button:hover {
    background-color: #3e8e41;
  }
  
  .booked-button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: not-allowed;
  }

  .BtnSubmit {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    
  }
  
  .BtnSubmit:hover {
    background-color: #3e8e41;
  }

  .preorder .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  .preorder .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
  }

  /* Top Section Start*/
.top{
  max-height: 100vh;
    display: flex;
    align-items: center;
    padding: 1.5rem 7%;
    background: url(../Pr/images/v28_270.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.top .content{
  max-width: 60rem;
  margin: auto;
}
.top .content h3{
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.top .content p{
  font-size: 1rem;
  line-height: 1.8;
  line-break: 0px;
  padding: 1rem 0;
  color: #fff;
}

/* Top Section End */

/* Menu Section Start */
.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, .5fr));
  gap:.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.menu .box-container .box{
  padding: 5rem;
  padding-top: 3.5rem;
  text-align: center;
  border:.1rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
  box-shadow: var(--border);
  background-color: #b3acac;
  margin-left: 4%;
  margin-right: 4%;
}

.menu .box-container .box .image{
  height:12rem;
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image img{
  height:100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.menu .box-container .box .content{
  padding: .1rem;
  padding-top: 1rem;
}

.menu .box-container .box .content .star{
  padding-bottom: .1rem;
}

.menu .box-container .box .content .star i{
  color: #f6d365;
  font-size: 1.7rem;
}
.menu .box-container .box .content h3{
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .content p{
  color: #fff;
  font-size: 1rem;
  padding: 1rem 0;
}

.menu .box-container .box .content span{
  color: #fff;
  font-size: 2.5rem;
  padding: .5rem 0;
}

.menu .box-container .box .content .btn{
  margin-left: .5rem;
}

.BtnAddCart{
  background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

.BtnAddCart:hover{
  background-color: rgba(0,1,169,0.8);;
}

nav {
	background-image: url('images/BigMaclogo.png');
	background-repeat: no-repeat;
	text-align: center;
	font-style: italic;
	margin-top: 30px;
	height: 55px;
	padding-bottom: 5px;
}
  
nav a {
  font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	color: white ;
}

nav a:hover { 
	color: #00B1FF; 
}

nav a.active {
	border-bottom: 2px solid white;
    padding-bottom: 3px; 
	
}

#logbutton{
	background-color: black;
  font-family: Verdana, Arial, sans-serif;
	color: white;
	position:absolute ;
	right: 30;
	top: 30;
	border-radius: 100px;
  margin-left: 500px;
}

#logbutton:hover{
    background-color: rgba(169, 0, 0, 0.8);
  }

  button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    border: 2 px white;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
  }
  
  button:hover{
      background-color: rgba(31, 31, 31, 0.8);
  }

  

/* Menu Section End */

/* Booking Section Start */
