@import url(https://fonts.googleapis.com/css?family=Literata&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

/* Main setting start*/
:root{
  --main-color: #219ebc;
  --black: #13131a;
  --bg: #010103;
  --border: .1rem solid rgba(255,255,255,.3);
}
*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 100%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;

}

html::-webkit-scrollbar{
  width: .3rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
}

#bodyhome {
  background-image: url('images/background.png');
  color: var(--black);
  font-family: Verdana, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

#bodyhome header {
color: #00B1FF;
padding-left: 30px;
padding-top: 10px;
text-align: center;
}

#bodyhome h2 {
color: #00B1FF;
}

  /* Main setting end */

  /* Nav Bar Start */
  li, a ,button{
    font-family: Literata;
    font-weight:500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  
  header{
    display: flex;
    justify-content: space space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--bg);
  }
  
  .logo{
    cursor: pointer;
  }

  nav {
    background-image: url('images/BigMaclogo.png');
    background-repeat: no-repeat;
    text-align: center;
    font-style: italic;
    margin-top: 30px;
    height: 50px;
    padding-bottom: 5px;
  }
    
  nav a {
    font-family: Verdana, Arial, sans-serif;
    text-decoration: none;
    color: white ;
  }
  
  nav a:hover { 
    color: #00B1FF; 
  }
  
  nav a.active {
    border-bottom: 2px solid white;
      padding-bottom: 3px; 
    
    }

  .BtnLogin{
    align-content: space-between;
  }

  #logbutton{
    font-family: Verdana, Arial, sans-serif;
    background-color: black;
    color: white;
    position:absolute ;
    right: 30;
    top: 30;

    border-radius: 100px;
  
    margin-left: 500px;
    padding :9px 25px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
  }

  #logbutton:hover{
    background-color: rgba(169, 0, 0, 0.8);
  }
  /* Nav Bar End */

  /* Section Booking Form Start*/

  .formed{
    background-image: url(/images/backimg2.png);
  }

  
  .formed h1{
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-family: 'Literata';
    padding: 2rem;
    color: #fff;
    
  }

  h3 {
    text-align: center;
    font-weight: 700;
    color: #13131a;
    font-size: 1.5rem;
  }
  .formed form{
  max-width: 30rem;
  border-radius: .5rem;
  box-shadow: var(--border);
  border: .1rem solid rgba(0, 0, 0, .2);
  background-color: #eee;
  padding: 1.5rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  }

  .formed form .form-field{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  }

  .formed form .form-field{
      width: 100%;
  }


  .form-field input{
    color: #000;
    height: 2rem;
    width: 10rem;
    
  }

  .form-field p{
    height: 2rem;
  }

  .BtnSubmit {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    position: absolute;
    top: 600px;
    left: 565px;
    width: 400px;
    
  }

  .BtnSubmit:hover {
    background-color:rgba(0,1,169,0.8) ;
  }
  /* Section Booking Form End */

  /* Section Popup Start */
  .popup{
    width: 400px;
    background-color: #fff;
    border-radius: 2rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1) ;
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }

  .popup h3{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 32px;
  }
  .popup p{
      margin-top: .5rem;
  }

  .popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #76bd4c ;
    border-radius: .8rem;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  }

  

  .open-popup{
    visibility: visible;
    top: 50%;
    transform:  translate(-50%, -50%) scale(1);

  }
  /* Section Popup End */