@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #F26B1D;
    --second-color:#F28729;
    --text-color:#171427;
    --bg-color: #fff;
    --warning-color:#fd4646;
    --success-color:#2ecc71;
    --neutral-color: #F4F5F7;
    --primary-color: #3D4252;
    --accent-color:#F2D8A7;
}
/* message */
.message{
  /* display: block; */
  background: var(--neutral-color);
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}
/* nav section admin */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
  nav .logo{
    display: flex;
    align-items: center;
    margin: 0 24px;
  }
  .logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
  }
  .logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 600;
  }
  .logo .icon{
    margin-right: 14px;
    font-size: 22px;
    font-weight: 600;
  }
  .top-nav{
    background: var(--neutral-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 6px;
  }
  .top-nav .profile{
    align-self: center;
    margin-right: 15px;
  }
  nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  /* click to open */
  nav.open .sidebar {
    left: 0;
  }
  .sidebar .sideBar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
  }
  .sidebar-content .list {
    list-style: none;
  }
  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  .lists .nav-link:hover {
    background-color: var(--accent-color);
  }
  .nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: var(--primary-color);
  }
  .nav-link .link{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
  }

.bottom-content{
    position: relative;
    bottom: 0;
}

/* Admin Menu Content */
.menu{
  /* position: fixed;
  top: 0;
  left: 0; */
  margin-left: 20px;
  margin-top: 100px;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.nav.open ~ .menu{
  pointer-events: none;
}

/* Update Page = Create btn */
.admin-product-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* click btn to open */
.admin-product-form-container.open{
  right: 0;
}
.admin-product-form-container form{
  max-width: 50rem;
  /* margin: 0 auto; */
  margin:50px;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--neutral-color);
}
.admin-product-form-container form h3{
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.admin-product-form-container form .box{
  width: 100%;
  border-radius: 10px;
  padding: 1.2rem 1.5rem;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: var(--bg-color);
  border: transparent;
}
.btn-submit{
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background: var(--main-color);
  color: var(--text-color);
}
.btn-submit:hover{
  background-color: var(--neutral-color);
  color: var(--main-color);
}
/* space */
.space{
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.space h3{
  align-self: center;
}

/* animation btn-add */
button {
  font-family: inherit;
  font-size: 20px;
  background: var(--main-color);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

button .add{
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover .add {
  transform: translateX(1.5em) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* Table Section Start */
.product-display{
  /* margin: 2rem 0; */
  /* overflow-y: scroll; */
  max-width: 1200px;
  margin: auto;
  width: 100%;

}
.product-display-table{
  width: 100%;
  text-align: center;
}
.product-display .product-display-table thead{
  font-size: 16px;
  font-weight: 300;
  background: var(--neutral-color);
}
.product-display .product-display-table td{
  padding: 1.3rem;
  border-radius: 5px;
  border-bottom: var(--border);
}
.product-display .product-display-table th{
  padding: 1rem;
  border-radius: 5px;
  border-bottom: var(--border);
}

/* action button */
.edit{
  color: var(--text-color);
  background: var(--accent-color);
  padding: 0.7rem;
  border-radius: 7px;
  margin-right: 4px;
}
.edit:hover{
  background: var(--second-color);
}
.delete{
  color: var(--neutral-color);
  background: var(--primary-color);
  padding: 0.7rem;
  border-radius: 7px;
}
.delete:hover{
  background: var(--neutral-color);
  color: var(--warning-color);
}

/* back button */
.btn-back{
  color: var(--neutral-color);
  background: var(--primary-color);
  padding: 0.4rem;
  border-radius: 5px;
}

#upload-photo{
  opacity: 1;
}